
.w-button{
    display:inline-block;
    padding:9px 15px;
    background-color:#3898EC;
    color:white;
    border:0;
    line-height:inherit;
    text-decoration:none;
    cursor:pointer;
    border-radius:0
}
input.w-button{
    -webkit-appearance:button
}
.w-form{
    margin:0 0 15px
}
.w-select{
    display:block;
    width:100%;
    height:38px;
    padding:8px 12px;
    margin-bottom:10px;
    font-size:14px;
    line-height:1.42857143;
    color:#333333;
    vertical-align:middle;
    background-color:#ffffff;
    border:1px solid #cccccc
}
.w-select:-moz-placeholder{
    color:#999
}
.w-select::-moz-placeholder{
    color:#999;
    opacity:1
}
.w-select:-ms-input-placeholder{
    color:#999
}
.w-select::-webkit-input-placeholder{
    color:#999
}
.w-select:focus{
    border-color:#3898EC;
    outline:0
}
.w-select{
    background-color:#f3f3f3
}


.filter {
  display: block;
  width: 100%;
  height: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #fff;
}

.form-block {
  height: 100%;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 16px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 12px 1fr 12px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.select-field {
  width: 150px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  background-color: #fff;
}

.select-field:focus {
  border: 1px solid #000;
}

.select-field-2 {
  width: 150px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  background-color: #fff;
}

.select-field-2:focus {
  border: 1px solid #000;
}

.select-field-3 {
  width: 150px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
  background-color: #fff;
}

.select-field-3:active {
  border: 1px solid #000;
}

.select-field-3:focus {
  border: 1px solid #000;
}

.submit-button {
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #000;
}

@media (max-width: 767px) {
  .filter {
    height: 200px;
  }
  .form-block {
    width: 100%;
  }
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .select-field {
    width: 150px;
  }
}

#w-node-d7294f9af2d0-bc00d8e2 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}